extends layout 

block content 
  form#membership.forms(action="" method="POST")
    h1 Become a <em style="color: #00B7FF">Club Member</em>
    h2(style="margin: 0")= `User: ${user.username}`
    label(for="code") What is the secret code?
    input(type="text" required name="code")
    button(type="submit") Submit
    a(href="/") Cancel
    p.form-label The Clubhouse
  
  if errors
    ul
      for error in errors 
        li= error.msg
