extends layout

block content
  h1= title
  form#SignIn(action="" method="POST")
    label(for="username") Username
    input(type="text" name="username" required)
    label(for="password") Password
    input(type="password" name="password" required)
    button(type="submit") Log In
    a(href="/") Cancel
  
  if session.messages
    p= session.messages[session.messages.length - 1]