extends layout

block content
  
  form#SignUp.forms(action="" method="POST")
    h1 Sign Up
    label(for="username") Username
    input(type="text" name="username")
    label(for="password") Password
    input(type="password" name="password")
    label(for="password") Confirm Password
    input(type="password" name="password-confirm")
    button(type="submit") Sign Up
    a(href="/") Cancel
    p.form-label The Clubhouse

  if errors
    ul.error-container
      for error in errors 
        li= error.msg
  if exists
    ul.error-container
      li= exists