extends layout

block content
  h1 Sign Up
  form#SignUp(action="" method="POST")
    label(for="username") Username
    input(type="text" name="username")
    label(for="password") Password
    input(type="password" name="password")
    label(for="password") Confirm Password
    input(type="password" name="password-confirm")
    button(type="submit") Sign Up
    a(href="/") Cancel


  if errors
    ul
      for error in errors 
        li= error.msg
  if exists
    ul
      li= exists