extends layout

block content
  form#SignIn.forms(action="" method="POST")
    h1= title
    label(for="username") Username
    input(type="text" name="username" required)
    label(for="password") Password
    input(type="password" name="password" required)
    button(type="submit") Log In
    a(href="/") Cancel
    p.form-label The Clubhouse
  
  if session.messages && session.messages.length > 0
    p.error-container= session.messages[session.messages.length - 1]