.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: black;
    color: white;
    align-items: center;
    width: 100%;
}

.user-controls {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.comments-container {
    padding: 2rem;
    width: 75%;
}

.comments-header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.comment {
    padding: 1rem;
    background-color: lightcyan;
    border-radius: 10px;
    margin: .5rem;
    border: 1px solid black;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px){
    .comments-container {
        width: 90%;
    }
}